.places__paragraph {
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 0 36px 0;
}

@media screen and (max-width: 1024px) {
    .places__paragraph {
        margin: 0 0 24px 0;
    }
}

.places__paragraph:last-of-type {
    margin: 0;
}