.lead__subtitle {
    font-family: Inter;
    font-size: 30px;
    line-height: 36px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 48px auto 0;
    width: 583px;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .lead__subtitle {
        margin: 8px auto 0;
        font-size: 16px;
        line-height: 23px;
    }
}