@import url('./__coord/barentsburg__coord.css');
@import url('./__link/barentsburg__coord.css');
@import url('./__map/barentsburg__map.css');
@import url('./__text/barentsburg__text.css');
@import url('./__title/barentsburg__title.css');
@import url('./__url-heading/barentsburg__url-heading.css');
@import url('./__url/barentsburg__url.css');
.barentsburg {
    width: 1184px;
    margin: 85px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 1184px) {
    .barentsburg {
        width: 100%;
        margin: 102px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .barentsburg {
        margin: 85px auto 0;
    }
}

@media screen and (max-width: 375px) {
    .barentsburg {
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .barentsburg {
        margin: 64px auto 0;
    }
}